/*para todas las páginas*/
body{
    color:#FFFFFF;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16xp;
    }
h2{
    text-align: center;
}
h3{
    text-align: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
nav li{
    display:block;
    margin-left: 150px;
    margin-right: 150px;
}
nav li a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-decoration: none;
    float: left;
    padding: 15px;
    background-color: #FFFFFF;
    color:black;
}
nav li a:hover{
    background-color: #E7E3E3;
    margin-top: 2;
    margin:50xp;
}
.parrafo{
    text-align: center;
}
footer{
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 5px;
}

/*INDEX*/

div{
    text-align: center;
}

/*ALIMENTACION*/
section.recetas{
    margin-top: 50px;
}
div.comida{
    text-align: center;
}
ol.comida{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul.ingredientes{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li.ingredientes{
    list-style-position: inside;
    text-align: left;
}



/*DINERO*/

img#ahorros{
    padding: 5px; 
    margin: 5px; 
    border: 3px solid black; 
    float: right; 
    width: 250px;
}
h3#gastos{
    text-align: middle;
    font-size: 20;
    margin-left: 300px;
}
ul.lista{
    list-style-type: square;
    }


/*HOGAR*/

div.imagenes{
    display:flex; 
    justify-content:space-between;
}

section{
    margin-top: 500xp;
}
table.tabla{
    color: aquamarine;
    border:#FFFFFF 3px solid;
    border-collapse: separate;
    border-spacing: 15px 15px;
    margin-top: 20px;  
}
th{
    font-size: 20xp;
}