header h1{
    color: #ffffff;
    background-color: red;
    font-family: 'Courier New';
    font-size: 30pt;
}
header img{
    width: 50%;
    height: 100%;
}

section{
    width: 250px;
    height: 100px;
    background-color:blueviolet;
    font-size: 20pt;
    margin-left:400pt;
}

p.destacada{
    font-style: italic;
    text-decoration: underline;
    font-size: 15pt;
    color: green;
}